<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
  <head>
    <!-- Required meta tags -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/cs/stlesheet.css}"/>
   
           <script type="text/javascript" src="/js/script.js"></script>  
            <script type="text/javascript" src="/js/search.js"></script>  
          
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
   
    <title th:replace="${title}"></title>
    
  </head>
  <body>
    
   <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Smart Contact Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item active">
        <a class="nav-link"    th:href="@{/logout}" href="#">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>
<!-- END NAVBAR -->

    <!-- Slidebar -->
<div class="slidebar mt-2">
<span  onClick="toggleSlidebar()" class="crossBtn">&times;</span>
 <a href="#" th:href="@{/user/index}" class="item"><i class="fas fa-home"></i>Home</a>
 <a href="#" th:href="@{/user/view-contact/0}" class="item"><i class="fas fa-id-card-alt"></i>View Contacts</a>
 <a href="#" th:href="@{/user/add_contact}"class="item"><i class="fas fa-pencil-alt"></i>Add Contact</a>
 <a href="#"th:href="@{/user/profile}" class="item"><i class="fas fa-user-circle"></i>Profile</a>
 <a href="#"  class="item"><i class="fas fa-cogs"></i>Settings</a>
  <a href=""th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i>Logout</a>
 
	<div class="divider"></div>


</div>
<!-- END SLIDEBAR -->

<!-- CONTENT -->
<div class="content mt-5">

<i onClick="toggleSlidebar()" class="fas fa-bars m-3"></i>
       <div th:replace="${content}"></div>

</div>
<!-- END CONTENT -->
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    

  </body>
</html>
