<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::title}, ~{::section})">
      	<meta charset="UTF-8" />
      <head>
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 class=font-weight-bold>Smart Contact Manager</h1>
	<p>start collecting your contacts in very smarter way.
	we provide very efficient and smarter way of handling contacts.
	</p>
	<button class="btn bg-primary text-white">get start</button>
	</div>
	</section>
	
	
</body>
</html>