<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::title}, ~{::section})"><head>
	<meta charset="UTF-8" />
	<title>signup</title>
</head>
<body>
<section>
<div class="container ">
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="my-cart mt-2">
<div   th:if="${session.msg}" th:classappend="${session.msg.type}" class="alert" role="alert">
    <p class="text-center" th:text="${session.msg.content}"></p>
     <th:block th:text="${#session.removeAttribute('msg')}"> </th:block>
</div>

<div class="container text-center">
   <img style="width:70px;" th:src="@{/img/sign-up.png}"/>
   </div>
<h2 class="text-center text-info">SignUp Here!!</h2>

<form  action= "" th:action="@{/do_register}" method="post"  th:object="${user}">
 <!-- name -->
      
              
               <div class="form-group">
               <label for="name_filed" class="text-info">Your Name</label>
                <input type="text"
                 name="name"
                 class="form-control"
                 id="name_filed"
                 placeholder="Enter your name"
                 required
                 th:value="${user.name}"
                   />
                    <div th:if="${#fields.hasErrors('name')}">
                    <div class="alert-danger" th:errors="*{name}"></div> 
                    </div> 
                   </div>

                 <!-- Email -->
                 
               <div class="form-group">
               <label for="email_filed" class="text-info">Your Email</label>
               <input type="email" 
                   name="email"
                 class="form-control" 
                 id="email_filed"
                 placeholder="Enter your email"
                 required
                  th:value="${user.email}"
               />
                 
                   </div>
                 
                 <!-- Password -->
                 
                 
               <div class="form-group">
               <label for="password_filed" class="text-info">Password</label>
               <input type="password"
                 onSubmit="function()" 
                   name="password"
                 class="form-control" 
                 id="password_filed"
                 placeholder="Enter password"
                 
                 required
               />
                 
                 </div>
                 
                    <div class="form-group">
               <label for="password_filed" class="text-info">confirm Password</label>
               <input type="password"
                 onkeyup="function()" 
                   name="password1"
                 class="form-control" 
                 id="password_filed1"
                 placeholder="Enter password"                 
                 required
               />
                 
                 </div>
                         
             
                 </div>
               <div class="form-group ">
               <textarea name="about" th:value="${user.about}" placeholder="Enter somthing yourself" rows="2" ></textarea>
               </div>
               
               
               
               <div class="form-group form-check">
               <input type="checkbox"
                 name="agreement"
                 class="form-check-input"
                 id="agreement"
                       />
                       <label for="agreement" class="text-info">Accept term and condition</label>
    
               </div>
                 <div id="register-link" class="text-right">
                                <a th:href="@{/signin}" class="text-info">Login</a>
                            </div>
               <div class="container text-center">
               <button type="submit" class="btn bg-primary text-white">
                  Submit
               </button>
               
                <button type="reset" class="btn btn-danger text-white">
                  Reset
               </button>
               </div>
               
               
</form>


</div>
</div>
</div>
</div>
</section>
</body>
</html>