body
{
	background: #e2e2e2!important
}
.bg-primary
{
	background:#009688!important
}
.banner
{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/call.jpg);
	background-size:cover;
	color:white;
}
.my-cart
{
	padding:10px;
	  border: 1px solid #9C9C9C;
	
	background:#EAEAEA;
	width:90%;
}
#login .container #login-row #login-column #login-box
{
  margin-top: 20px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.slidebar
{
	width:18% !imporatnt;
	background:black;	
	height:100%;
	position:fixed;
	padding-top:45px;
	z-index:9999999999999999999999999999999999;
}
.slidebar a
{
	display:block;
	padding:10px 25px;
	text-decoration:none;
	color:white;	
	
}
.slidebar i
{	
	margin-right:10px;
	color:green;	
}
.slidebar a:hover
{
	background:#A52A2A;
}
.slidebar .divider
{
	height:0.5px;
	width:100%;
	background:#e2e2e2;
	margin-top:10px;
}
.slidebar .crossBtn
{
	position:absolute;
	top:0;
	right:35px;
	cursor:pointer;
	font-size:35px;
	color:white;
}
@media only screen and(max-width:600px)
{
        .slidebar{
	      display:none;
	      width:80%!important;
	       background:white;	
	      height:100vh;
	      position:fixed;
	      padding-top:20px;
}
}
.content{
	margin-left:20%;
	
}
.description
{
	background:#ff6600;
	color:white;
	
}
.my-cart
{
		background:;
	
}
.text
{
	color:gray;
	margin-top:-40px;
   margin-right:5px;
}
.divider1
{
	height:1px;
	width:100%;
	background:blue;
	margin-top:10px;
}
.container
{

}
.result
{
background:white;	
}	